<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/" class="nav-logo">Wallpapers.</a>
        <ul class="nav-menu">
          <!-- <li class="nav-item"> -->
            <!-- <a href="/login" class="nav-link">Login/register </a> -->
          <!-- </li> -->
          <!-- <li class="nav-item"> -->
            <!-- <a href="#" class="nav-link">Catagories</a> -->
          <!-- </li> -->
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section>
        <h1 class="h1">This website is created by Aditya yadav</h1>
        <h2 class="h1">Using html , javascript and css</h2>
<div class="myphotoCont" ><div class="myphoto" style="background-image: url(../static/smallSize/aditya.jpg);"></div></div>
<h2 class="h1">Aditya yadav</h2>
    </section>
    
    <script src="../static/java.js"></script>
</body>
</html>