<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/" class="nav-logo">Wallpapers.</a>
        <ul class="nav-menu">
          <!-- <li class="nav-item"> -->
            <!-- <a href="/login" class="nav-link">Login/register </a> -->
          <!-- </li> -->
          <!-- <li class="nav-item"> -->
            <!-- <a href="#" class="nav-link">Catagories</a> -->
          <!-- </li> -->
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section class="contant-container">
    
      <div class="wallP-item o1"  style="background-image: url(static/smallSize/1.jpg);"><a class="download-icon" href="../static/realWalpap/1.JPG" download > </a></div>
      <div class="wallP-item o2" style="background-image: url(static/smallSize/3.jpg);"><a href="static/realWalpap/3.jpg" download></a></div>
      <div class="wallP-item o3" style="background-image: url(static/smallSize/4.jpg);"><a href="static/realWalpap/4.jpg" download></a></div>
      <div class="wallP-item o4" style="background-image: url(static/smallSize/5.jpg);"><a href="static/realWalpap/5.jpg" download></a></div>
      <div class="wallP-item o5" style="background-image: url(static/smallSize/6.jpg);"><a href="static/realWalpap/6.jpg" download></a></div>
      <div class="wallP-item o6" style="background-image: url(static/smallSize/2082049.jpg);"><a href="static/realWalpap/2082049.jpg" download></a></div>
      <div class="wallP-item o7" style="background-image: url(static/smallSize/anime_scan_landscape_sky_cloud_beautiful_light_color_8000x3406.jpg);" ><a href="static/realWalpap/anime_scan_landscape_sky_cloud_beautiful_light_color_8000x3406.jpg" download></a></div>
      <div class="wallP-item o8" style="background-image: url(static/smallSize/avengers-endgame-3840x2160_898598-mm-90.jpg);" ><a href="static/realWalpap/avengers-endgame-3840x2160_898598-mm-90.jpg" download ></a></div>
      <div class="wallP-item o9" style="background-image: url(static/smallSize/beautiful-feather-image-3840x2160_56487-mm-90.jpg);" ><a href="static/realWalpap/beautiful-feather-image-3840x2160_56487-mm-90.jpg" download ></a></div>
     <div class="wallP-item o10" style="background-image: url(static/smallSize/cosmic-timetraveler-LhDWW8PhPoE-unsplash.jpg);" ><a href="static/realWalpap/cosmic-timetraveler-LhDWW8PhPoE-unsplash.jpg" download ></a></div>
     <div class="wallP-item o11" style="background-image: url(static/smallSize/counter-strike-global-offensive-2880x1800_947974-mm-90.jpg);" ><a href="static/realWalpap/counter-strike-global-offensive-2880x1800_947974-mm-90.jpg" download ></a></div>
     <div class="wallP-item o12" style="background-image: url(static/smallSize/digital_space_universe_4k_8k.jpg);" ><a href="static/realWalpap/digital_space_universe_4k_8k.jpg" download ></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/eberhard-grossgasteiger-2gNx4aKQYvY-unsplash.jpg);" ><a href="static/realWalpap/eberhard-grossgasteiger-2gNx4aKQYvY-unsplash.jpg" download ></a></div>
   <div class="wallP-item o2" style="background-image: url(static/smallSize/fantasy-solar-eclipse-2880x1800_899658-mm-90.jpg);" ><a href="static/realWalpap/fantasy-solar-eclipse-2880x1800_899658-mm-90.jpg" download ></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/fedora-blue-particles-3840x2160_668878-mm-90.jpg);" ><a href="static/realWalpap/fedora-blue-particles-3840x2160_668878-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/hot-air-lanterns-picture-3840x2160_787994-mm-90.jpg);" ><a href="static/realWalpap/hot-air-lanterns-picture-3840x2160_787994-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/huawei-mate-20-stock-image-2560x1440_74894-mm-90.jpg);" ><a href="static/realWalpap/huawei-mate-20-stock-image-2560x1440_74894-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/icelands_ring_road.jpg);" ><a href="static/realWalpap/icelands_ring_road.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/levi-midnight-DU8Sg1HaxU0-unsplash.jpg);" ><a href="static/realWalpap/levi-midnight-DU8Sg1HaxU0-unsplash.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/meltdown-digital-art-wallpaper-1920x1080_898787-mm-90.jpg);" ><a href="static/realWalpap/meltdown-digital-art-wallpaper-1920x1080_898787-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/mercedes-benz-vision-avtr-5120x2880_788998-mm-90.jpg);" ><a href="static/realWalpap/mercedes-benz-vision-avtr-5120x2880_788998-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/mississauga_kariya_park_canada.jpg);" ><a href="static/realWalpap/mississauga_kariya_park_canada.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/night-lights-in-sao-francisco-portugal-3840x2400_474994-mm-90.jpg);" ><a href="static/realWalpap/night-lights-in-sao-francisco-portugal-3840x2400_474994-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/pang-yuhao-wCi28eq8TF4-unsplash.jpg);" ><a href="static/realWalpap/pang-yuhao-wCi28eq8TF4-unsplash.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/park_tree_with_orange_leaves_hd_nature.jpg);" ><a href="static/realWalpap/park_tree_with_orange_leaves_hd_nature.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/pexels-pixabay-47334.jpg);" ><a href="static/realWalpap/pexels-pixabay-47334.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/polygonal-shapes-3840x2160_5485-mm-90.jpg);" ><a href="static/realWalpap/polygonal-shapes-3840x2160_5485-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/red-and-green-bokeh-5120x2880_76994-mm-90.jpg);" ><a href="static/realWalpap/red-and-green-bokeh-5120x2880_76994-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/rigel-4k-wallpaper-3840x2160_785666-mm-90.jpg);" ><a href="static/realWalpap/rigel-4k-wallpaper-3840x2160_785666-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/samsung_galaxy_s3.jpg);" ><a href="static/realWalpap/samsung_galaxy_s3.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/soheb-zaidi-tgFR67JUcBs-unsplash.jpg);" ><a href="static/realWalpap/soheb-zaidi-tgFR67JUcBs-unsplash.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/the-game-spider-man-far-from-home-3840x2160_899895-mm-90.jpg);" ><a href="static/realWalpap/the-game-spider-man-far-from-home-3840x2160_899895-mm-90.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/wallpapertip_iron-man-wallpaper-4k_93901.jpg);" ><a href="static/realWalpap/wallpapertip_iron-man-wallpaper-4k_93901.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/wallpapertip_wallpapers-en-4k_1710812.jpg);" ><a href="static/realWalpap/wallpapertip_wallpapers-en-4k_1710812.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/wp5294389-shiva-desktop-hd-wallpapers.jpg);" ><a href="static/realWalpap/wp5294389-shiva-desktop-hd-wallpapers.jpg" download></a></div>
     <div class="wallP-item o2" style="background-image: url(static/smallSize/adityas.j6.jpg);" ><a href="static/realWalpap/adityas.j6.jpg" download></a></div>




    </section>
    <br>
    <footer></footer>
   
      
    
    <script src="../static/java.js"></script>
  </body>
  </html>